*{margin:0 auto; padding:0px; list-style:none; text-decoration:none; outline:none; border-color:none; box-sizing:border-box;}

body{font-family:12px;}

.wrapper{width:100%; max-width:1200px;}

.header{float:left; width:100%; background:url(../images/background.jpg) center no-repeat; background-size:100% 100%; border-top:8px solid #2ecc71;}

.header_box{float:left; width:100%;}

.notify{float:left; width:100%; padding:100px 100px 100px 100px;}
.notify_logo{float:left; width:100%;}
.notify_logo a{float:left; width:auto;}

.notify h1{float:left; width:100%; font-size:24px; color:#FFF; margin-top:20px;}

.icon ul{float:left; width:auto;}
.icon li{float:left; width:auto; margin-top:20px;}
.icon li a{float:left; width:auto; margin-right:20px;}

.container{float:left; width:100%;}
.container_box{float:left; width:100%;}


.editable{float:none; width:100%; text-align:center; margin-top:20px;}
.icon_1{float:left; width:100%;}
.icon_1 ul{float:left; width:auto;}
.icon_1 li{float:left; width:33.33%;}
.icon_1 a{float:left; width:100%; }
.icon_1 h3{float:none; width:100%; font-size:24px; display:inline-block; margin-bottom:20px;}
.icon_1 p{float:none; width:auto; font-size:16px; display:inline-block; margin-bottom:20px;  color:#c6c6c6;}

.getnotify{float:left; width:100%; background:#e3e3e3;}

.get_notify_update{float:left; width:100%;  background:#e3e3e3;}

.get_notify{float:left; width:50%; padding:40px;}
.get_notify h3{float:left; width:100%; font-size:22px; margin-bottom:20px;}
.get_notify p{float:left; width:100%; font-size:18px; margin-bottom:20px; color:#c6c6c6;}

.Email_address{float:left; width:100%;}
.text1{float:left; width:50%;}
.text1 input{ padding:10px; padding-right:130px; color:#c6c6c6;}

.btn{float:left; width:50%;}
.btn input{background:#2ecc71; padding:10px; padding-right:30px; color:#FFF; }

.image{float:right; width:50%;  padding:40px;}
.image a{float:right; width:auto;}

.last{float:left; width:100%; padding:40px;}

.images{float:none; width:100%; text-align:center; padding-bottom:20px; }
.images p{float:left; width:100%; font-size:14px;   color:#c6c6c6; padding-bottom:20px;}
.images b h4{float:left; width:100%; font-size:18px; padding-bottom:20px; }
.images a{float:left; width:100%; padding-bottom:20px;	}
.images h3{float:left; width:100%; font-size:20px; padding-bottom:20px;  }
.images h5{float:left; width:100%; font-size:12px;  color:#c6c6c6; padding-bottom:20px; }

.icons{float:left; width:100%;}
.icons ul{float:left; width:100%;}
.icons li{float:none; width:100%;  text-align:center;}
.icons li a{float:none; width:auto;}

.footer{float:left; width:100%; background:#e3e3e3;padding:50px 50px 50px 50px; }
.footer_box{ margin:5px-10px;}
.list{float:left; width:100%; text-align:center;}
.list ul{float:left; width:100%;}
.list li{float:none; width:auto; display:inline-block; margin-left:15px; color:#c6c6c6;}